    /* @import url('https://fonts.cdnfonts.com/css/games'); */
    
    @font-face {
        font-family: 'Games';
        font-style: normal;
        font-weight: 400;
        /* src: local('Games'), url('https://fonts.cdnfonts.com/s/14926/Games.woff') format('woff'); */
        src: local('Games'), url('Games.woff') format('woff');
    }
    
    @font-face {
        font-family: 'Games';
        font-style: normal;
        font-weight: 400;
        /* src: local('Games'), url('https://fonts.cdnfonts.com/s/14926/Games-Italic.woff') format('woff'); */
        src: local('Games'), url('Games-Italic.woff') format('woff');
    }
    
    .bigbouncer {
        /* display: inline-block; */
        position: static;
        display: inline-block;
        animation-name: bigbouncerani;
        animation-duration: 1.4s;
        /* width: 100%; */
        animation-iteration-count: 1;
        /* animation-duration: 1.5s;
animation-name: fbpow; */
        /* animation-timing-function: cubic-bezier(-.175, .285, .82, -.175); */
        animation-timing-function: ease-in-out;
        z-index: 200;
        margin-left: 0;
        /* top: 0; */
        transform: rotateZ(0);
    }
    
    @keyframes bigbouncerani {
        0% {
            opacity: 1;
            font-size: 5%;
            /* top: 0; */
            transform: rotateZ(-720deg);
        }
        30% {
            opacity: 1;
            font-size: 100%;
            /* top: 0; */
            transform: rotateZ(0deg);
        }
        60% {
            opacity: 0.7;
            font-size: 300%;
            transform: rotateZ(360deg);
            /* top: 0; */
        }
        100% {
            font-size: 100%;
            transform: rotateZ(0);
            /* top: 0; */
        }
    }
    
    .sidebouncer {
        /* display: inline-block; */
        display: inline-block;
        position: static;
        animation-name: sidebouncerani;
        animation-duration: .6s;
        /* width: 100%; */
        animation-iteration-count: 1;
        /* animation-duration: 1.5s;
animation-name: fbpow; */
        animation-timing-function: cubic-bezier(-.175, .885, .32, -.275);
        z-index: 200;
        margin-left: 0;
        /* top: 0; */
    }
    
    @keyframes sidebouncerani {
        0% {
            opacity: 0;
            margin-left: -20px;
            transform: rotateZ(-80deg);
            /* top: 0; */
        }
        100% {
            opacity: 1;
            margin-left: 0;
            transform: rotateZ(0deg);
            /* top: 0; */
        }
    }
    
    .buttons {
        width: 100%;
        /* max-width: 650px; */
        border-radius: 16px;
        display: inline-block;
        bottom: 0;
        /* background: radial-gradient(circle at 30% 60%, #4CAF5055 12%, #5bcF6055 50%); */
        background: radial-gradient(circle at 30% 60%, #22212155 12%, #00000055 50%);
        background-color: #3d3a3e;
        padding: 6px 0 3px 0;
        /* max-height: 50%; */
        text-align: center;
        opacity: 1;
        /* margin: 0 auto; */
        /* position: absolute; */
        /* left: 0;
right: 0; */
        /* margin-bottom: 20px; */
        display: flex-box;
        /* justify-content: space-evenly; */
        /* justify-content: center; */
        justify-content: stretch;
        align-items: center;
    }
    
    #score3x {
        font-style: normal;
    }
    
    #score2 {
        text-align: center;
        /*must be block to center?*/
        display: block;
        max-width: 100%;
        white-space: pre-wrap;
        word-break: break-all;
        word-wrap: break-word;
        font-size: 1.1em;
        text-shadow: 0 0 20px #ffffff, 0 0 70px #ffeec8;
        letter-spacing: -4px;
        line-height: 2rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 1px;
        margin-top: -10px;
        position: relative;
        width: 100%;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .hint {
        pointer-events: none;
        /* not preventing interaction with some elements for some browsers */
        position: fixed;
        margin: 1px auto;
        left: 0;
        right: 0;
        opacity: 0;
        top: 50px;
        width: 240px;
        height: 120px;
        background-color: #fff;
        color: #fb5;
        display: inline-block;
        font-weight: 700;
        font-style: italic;
        animation-name: fadeout;
        animation-duration: 2.2s;
        z-index: 399;
        font-size: 500%;
        border-radius: 50%;
        border: 9px solid #acd3ac55;
    }
    
    @keyframes blinkfade {
        0% {
            /* opacity: 1; */
            opacity: 0.3;
        }
        100% {
            /* opacity: 0.5; */
            opacity: 0.1;
        }
    }
    
    .buttons {
        display: flex-box;
        /* flex: content; */
        /* flex-wrap: wrap-reverse; */
        /* flex-directison: column-reverse; */
        /* min-height: 300px; */
    }
    
    .buttonswrapper {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        /* flex: content; */
        /* flex-wrap: wrap-reverse; */
        /* flex-direction: column-reverse; */
    }
    
    #buttonswrapper {
        /* min-height: 300px;
         */
        /* display: flex;
        align-self: flex-end; */
    }
    /* 
.gamediv2 {
    min-height: 270px;
} */
    
    .buttonswrap2 {
        /* display: flex; */
        /* flex: content; */
        /* flex-wrap: wrap-reverse; */
        /* flex-direction: column-reverse; */
    }
    
    .answer2 {
        animation-name: blinkfade;
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
        /* animation-fill-mode: both; */
        /* animation-timing-function: ease-in-out; */
        text-align: center;
        display: inline-block;
        margin: 0 auto;
        left: 0;
        right: 0;
        margin-top: -2px;
        /* position: absolute; */
        max-width: 100%;
        white-space: pre-wrap;
        word-break: break-all;
        word-wrap: break-word;
        font-size: 2em;
        text-shadow: 0 0 20px #aa9977aa, 0 0 40px #ffbb3388;
        letter-spacing: -4px;
        line-height: 2.4rem;
        padding-top: 8px;
        color: #ffffffbb;
        font-style: italic;
        font-weight: bolder;
        opacity: 0.1;
        font-size: 175%;
        width: 10%;
    }
    
    @keyframes fadeout {
        0% {
            opacity: .5;
            top: 60px;
        }
        10% {
            opacity: 1;
            top: 100px;
        }
        40% {
            opacity: .8;
            top: 80px;
        }
        100% {
            opacity: 0;
            top: 50px;
        }
    }
    
    .moutput {
        text-align: center;
        background-color: #fb5;
        background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
        font-style: italic;
        border: 6px solid #efefef99;
        width: 98%;
        padding: 1px;
        color: #fff;
        /* font-size: 330%; */
        font-size: 150%;
        height: 86px;
        display: inner-block;
        margin: 2px auto 3px auto;
        max-width: 650px;
        /* display: flex; */
        /* position: absolute; */
        /* width: 50%; */
        /* height: 200px; */
        margin: auto;
        /* border-radius: 10px; */
        /* border: 3px dashed #1c87c9; */
        align-items: center;
        justify-content: center;
    }
    
    .scoreoverlay::before {
        display: block;
        content: '';
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-repeat: repeat;
        /* background-size: 125% 150%; */
        background-size: 170% 100%;
        background-position: center;
        /* todo: bg gif should be slower though */
        /* background-image: url('vortex3.gif'); */
        background-image: url('../gfx/intro0.gif');
        opacity: 0.08;
        /* z-index: 400; */
    }
    
    .gamediv::before {
        display: block;
        content: '';
        margin: 0;
        /* position: fixed; */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 150%;
        height: 150%;
        background-repeat: repeat;
        /* background-size: 100% 100%; */
        background-position: center;
        /* todo: gif should be very much slower different? */
        background-image: url('../gfx/intro1.gif');
        /* z-index: 400; */
        opacity: 0.05;
        /* z-index: 400; */
        /* position: absolute; */
        transform: rotate(22deg);
        z-index: -1;
    }
    
    .scoreoverlay {
        /* -webkit-backdrop-filter: blur(18px); backdrop-filter: blur(18px); */
        /* opacity: 50% !important; */
        -webkit-user-drag: element;
        margin-top: -1100px;
        display: none;
        /* opacity: 0.1; */
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 100;
        left: 0;
        top: 0;
        /* background: radial-gradient(circle at 50% 30%, #f230228e, #f29 40%, rgba(53, 10, 109, 0.836) 95%); */
        background: radial-gradient(circle at 50% 30%, #f27522, #f29 40%, rgb(53, 10, 109) 95%);
        /* background: radial-gradient(circle at 50% 30%, #e07d26, rgb(189, 38, 167) 40%, rgba(53, 10, 109, 0.836) 95%); */
        /* background: radial-gradient(circle at 50% 30%, #d57, rgb(119, 24, 138) 40%, rgb(68, 36, 108) 95%); */
        /* font-size: 120%; */
        color: #fff;
        font-weight: 700;
        font-style: italic;
        /* padding-top: 20px; */
        border-radius: 30px;
        transition: all 0.5s ease-in-out;
        animation-duration: 0.9s;
        opacity: 0;
    }
    
    .show {
        opacity: 0.99;
        display: block;
        margin-top: 0;
        border-radius: 0;
        animation-name: fadein;
        -webkit-backdrop-filter: blur(18px);
        backdrop-filter: blur(18px);
    }
    
    @keyframes fadein {
        0% {
            opacity: 0;
            top: -90px;
        }
        100% {
            opacity: 0.99;
            top: 0;
            -webkit-backdrop-filter: blur(18px);
            backdrop-filter: blur(18px);
        }
    }
    
    .hide {
        opacity: 0.95;
        /* display: none; */
        /* display: block; */
        margin-top: 0;
        border-radius: 0;
        animation-name: fadeouthide;
        -webkit-backdrop-filter: blur(18px);
        backdrop-filter: blur(18px);
    }
    
    @keyframes fadeouthide {
        0% {
            display: block;
            opacity: 0.95;
            top: 0;
            -webkit-backdrop-filter: blur(18px);
            backdrop-filter: blur(18px);
        }
        99% {
            display: block;
            opacity: 0;
            top: -90px;
        }
        100% {
            display: none;
            opacity: 0;
            top: -90px;
        }
    }
    
     :root {
        --fbpowro: -3deg;
        --fbpowoutho: -3deg;
        --startpos: 1%;
    }
    
    .fbpow {
        pointer-events: none;
        /*supprter by later browsers to not cover a clickable area */
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        margin: 2px auto;
        opacity: 0;
        width: 100px;
        height: 50px;
        background-color: rgba(163, 220, 71, .3);
        border-radius: 50%;
        text-align: center;
        border: solid 120px #99e49911;
        font-size: 160%;
        padding-top: 10px;
        filter: drop-shadow(2px 2px 13px #ffeefa);
        color: #fff;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(-.175, .885, .32, -.275);
        z-index: 200;
        animation-name: fbpow;
    }
    /* animation-name: fbpowl;
animation-name: fbpowr;
@keyframes fbpowl {
    0% {
        bottom: 32%;
        transform: rotateZ(25);
        left: -100%;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 1;
        bottom: 62%;
        border: solid 1px #ffffff33;
        transform: rotateZ(0deg);
    }
    100% {
        opacity: 0;
        bottom: 81%;
        transform: rotateZ(calc(var(--fbpowro)* -0.05));
    }
}

@keyframes fbpowr {
    0% {
        bottom: 32%;
        transform: rotateZ(var(--fbpowro));
        left: var(--fbpowstartpos);
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 1;
        bottom: 62%;
        border: solid 1px #ffffff33;
        transform: rotateZ(0deg);
    }
    100% {
        opacity: 0;
        bottom: 81%;
        transform: rotateZ(calc(var(--fbpowro)* -0.05));
    }
} */
    
    @keyframes fbpow {
        0% {
            bottom: 32%;
            transform: rotateZ(var(--fbpowro));
            left: var(--fbpowstartpos);
        }
        50% {
            opacity: 0.5;
        }
        60% {
            opacity: 1;
            bottom: 62%;
            border: solid 1px #ffffff33;
            transform: rotateZ(0deg);
        }
        100% {
            opacity: 0;
            bottom: 81%;
            transform: rotateZ(calc(var(--fbpowro)* -0.05));
        }
    }
    
    .score {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px;
    }
    
    .scorebar {
        display: block;
        padding: 0 10px 0 10px;
        width: 92%;
        height: 30px;
        position: absolute;
        top: 0;
        margin: auto;
    }
    
    .animatelevel2 {
        animation-name: animatelevel2bounce;
        animation-duration: 1.5s;
        /* width: 100%; */
        animation-iteration-count: 1;
        /* animation-timing-function: cubic-bezier(-.175, .285, .82, -.175); */
        animation-timing-function: ease-in-out;
        z-index: 200;
        margin-left: 0;
        /* top: 0; */
        transform: rotateZ(0);
    }
    
    @keyframes animatelevel2bounce {
        0% {
            opacity: 1;
            font-size: 100%;
            /* top: 0; */
            transform: rotateZ(0);
        }
        30% {
            /* background-color: #ffffff; */
            /* border: solid 1px #f274f969; */
            opacity: 0.4;
            font-size: 200%;
            /* transform: rotateZ(720deg); */
            transform: rotateZ(-12deg);
            /* top: 0; */
        }
        60% {
            /* background-color: #ffffff; */
            /* border: solid 1px #f274f969; */
            opacity: 0.8;
            font-size: 200%;
            /* transform: rotateZ(720deg); */
            transform: rotateZ(12deg);
            /* top: 0; */
        }
        100% {
            font-size: 100%;
            transform: rotateZ(0);
            /* top: 0; */
        }
    }
    
    #level2 {}
    
    .level {
        border-radius: 50%;
        position: absolute !important;
        display: block;
        /* top: 30px; */
        right: 0;
        left: 0;
        width: 160px;
        height: 50px;
        padding: 22px;
        /* padding-top: 5px; */
        margin: -32px auto;
        color: #ffffff;
        text-shadow: 0 0 10px #ab009c, 0 10px 30px #ee33aa, 0 10px 60px #ee33aa;
        font-weight: bolder;
    }
    
    .hiscore {
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 5px;
        transform: rotateZ(30);
    }
    
    .wrapper {
        /* background-color: #fefefe11; */
        margin: 6px 0;
        padding: 0;
    }
    
    .spansmall {
        display: block;
        /* font-size: .7rem; */
        /* padding: 8px; */
        margin: 1px;
        animation-duration: 1.15s !important;
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 1.0955);
        max-width: 430px;
        margin: 2px auto;
        color: #fff1ff;
        letter-spacing: calc(0.2 * (1.5vmax + 1.5vmin) + 0.1rem);
        font-size: calc(0.3 * (2.5vmax + 1.5vmin) + 0.1rem);
        line-height: 2.9vh;
        font-weight: 400 !important;
        padding-left: 2vh;
        padding-right: 2vh;
    }
    
    .spansmall: nth-child(1) {
        animation-duration: 1.85s;
    }
    
    #timer {
        width: 1px;
        /* line-height: 0; */
        /* border: solid 2px #dddddd99; */
        padding: 4px;
        text-align: center;
        border-radius: 6px;
        display: block;
        height: 24px;
        /* background: #ffffffdd; */
        transition: all 0.6s ease-in-out;
        transition-timing-function: cubic-bezier(.2, .9, .3, 1.3);
        margin-bottom: -12px;
        margin-top: -14px;
        /* background-image: url('./stripes.gif'); */
        background-repeat: repeat;
        background-size: 12px 10px;
        background-position: center;
        /* z-index: 400; */
    }
    
    .timer {
        width: 1px;
        /* line-height: 0; */
        /* border: solid 2px #dddddd99; */
        padding: 4px;
        text-align: center;
        border-radius: 6px;
        display: block;
        /* height: 24px; */
        /* background: #ffffffdd; */
        transition: all 0.6s ease-in-out;
        transition-timing-function: cubic-bezier(.2, .9, .3, 1.3);
        /* margin-bottom: -12px; */
        /* margin-top: -14px; */
        /* background-image: url('./stripes.gif'); */
        background-repeat: repeat;
        background-size: 12px 10px;
        background-position: center;
        /* z-index: 400; */
    }
    
    .gamediv2 {
        display: flex-box !important;
        float: none;
    }
    
    .buttonswrapper {
        display: flex;
        /* display: flex; */
        align-self: flex-end;
        justify-content: flex-end;
    }
    
    .buttons {
        display: flex;
        align-self: flex-end;
        justify-content: space-between;
        /* display: flex; */
    }
    
    .buttonswrap2 {
        /* justify-content: space-between; */
        display: block;
        width: 100%;
        /* container */
        /* align-self: flex-end; */
        /* flex-wrap: wrap; */
        /* align-self: flex-end; */
        /* thing */
        /* justify-content: space-evenly; */
    }
    /* #gamediv2 {
    background-color: #666;
    margin: 6px 0;
    padding: 0;
} */
    
    .buttonswrapper {
        /* width: 100%; */
        /* height: 100%; */
        /* position: absolute; */
        /* background: radial-gradient(circle at 30% 60%, #4CAF5055, #449e4855 50%); */
        /* background: radial-gradient(circle at 30% 60%, #323232c8, #262626de 50%); */
        background: radial-gradient(circle at 30% 60%, #32323238, #262626ae 90%);
        /* background-color: #7CAF80; */
        /* padding: 42px 0 2px 0; */
        padding: 2px 0 2px 0;
        text-align: center;
        min-height: 170px;
        /* max-height: 60%; */
        border-radius: 12px 12px 0 0;
        margin: 0 auto;
        bottom: 0;
        position: relative;
        margin-top: 2px;
        margin-bottom: 90px;
    }
    
    button {
        font-variant: small-caps;
        cursor: pointer;
        /* filter: drop-shadow(0 0 8px #94af84); */
        /* filter: drop-shadow(0 0 8px #4f4f4f); */
        /* filter: drop-shadow(0 0 12px rgb(90, 20, 80)); */
        /* background-color: #4CAF50; */
        background-color: #aeaeae;
        border: none;
        color: #fff;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.8rem;
        font-weight: bolder;
        /* border: 2px solid #7d97; */
        border: 3px solid rgba(35, 102, 65, 0.3);
        border-radius: 12px;
        background: radial-gradient(circle at 60% 30%, #27c927, #1aa531 90%);
        margin: 0;
        /* padding: 10px 6px 8px 3px; */
        padding: 8px;
        /* max-height: 70px; */
        /* width: 55%; */
        /* min-height: 48px; */
        /* max-width: 260px; */
    }
    
    .numkey {
        margin: 0 auto !important;
        /* not optimal really .. */
        /* background: radial-gradient(circle at 60% 30%, #838383, #303030 90%); */
        background: radial-gradient(circle at 50% 40%, #353535, #252525 90%);
        border: 1px solid rgba(84, 84, 84, 0.2);
        padding: 12px 5px 10px 5px;
        /* max-height: 60px; */
        width: 32.5%;
        /* height: 24.2%; */
        /* min-height: 64px; */
        /* max-height: 78px; */
        font-size: 140%;
        color: rgb(223, 212, 228);
        min-height: 56px;
    }
    
    html,
    body,
    * {
        margin: 0 auto;
        /* not optimal really .. */
        text-align: center;
    }
    
    .game {
        margin: auto !important;
        /* not optimal really .. */
        text-align: center;
        max-width: 650px;
    }
    
    html,
    body {
        overflow: hidden;
        height: 100%;
        letter-spacing: 6px;
        margin: 0;
        padding: 0;
        text-align: center;
        touch-action: none !important;
        user-select: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
    
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    h1 {
        font-size: 5.1vmin;
        color: #fefafa;
        font-family: 'Games', sans-serif, arial;
        white-space: pre;
        font-weight: 600;
        display: block;
        width: 100%;
        padding: -2px auto 3px auto;
        text-align: center;
        color: #ffdbc2;
        font-variant: small-caps;
        letter-spacing: 3px;
        text-shadow: 0 0 90px #5d047b44, 0 0 20px #ffffff22, 0 0 50px #e66b, 0 0 60px #1f1601, 0 0 70px #ffeec8;
        margin-top: 20px;
    }
    
    topgradient {
        font-size: 1rem;
        color: #fefafa;
        font-family: 'Games', sans-serif, arial;
        white-space: pre;
        font-weight: 700;
        display: block;
        width: 240px;
        position: absolute;
        left: 0;
        right: 0;
        top: 22px;
        margin: 25px auto 2px auto;
        text-align: center;
        background: rgb(131, 58, 180);
        /* background: linear-gradient(90deg, rgba(131, 58, 180, 1) 1%, rgba(139, 192, 117, 1) 20%, rgba(252, 176, 69, 1) 35%, rgba(253, 29, 29, 1) 50%, rgba(253, 185, 29, 1) 65%, rgba(150, 187, 107, 1) 80%, rgba(121, 29, 253, 1) 99%); */
        /* background: linear-gradient(90deg, rgba(58, 180, 66, 0.5) 1%, rgba(252, 176, 69, 1) 35%, rgba(253, 29, 29, 1) 50%, rgba(253, 185, 29, 1) 65%, rgba(58, 180, 66, 0.5) 99%); */
        background: linear-gradient(90deg, rgba(255, 0, 162, 0.9) 1%, rgb(112, 47, 133) 55%, rgb(18, 13, 45) 50%, rgb(112, 47, 133) 55%, rgba(255, 0, 162, 0.9) 99%);
        /* border-radius: 4%; */
        border-radius: 100%;
        opacity: 0.9;
        height: 5px;
        border: 2px dotted rgba(255, 231, 209, 0.5);
    }
    
    .ang {
        padding: 0;
        filter: drop-shadow(-2px 0 3px #fee);
        padding: 0;
        margin: 8px 0 1px;
    }
    
    body {
        /* font-family: "Trebuchet MS"; */
        font-family: 'Roboto', sans-serif;
        color: #ccc;
        font-size: 1.1rem;
        overflow: none;
        /* margin: -10px; */
        /* hmm ? */
        background: #121212;
        background: radial-gradient(circle at 50% 30%, transparent, #6a686855 50%, rgba(47, 22, 60, 0.2) 94%, rgba(126, 0, 205, 0.2) 105% 50%);
        /* background: radial-gradient(circle at 50% 30%, #f2f, #f29 40%, #317 95%); */
        background-repeat: repeat;
        margin: 0;
        padding: 0;
    }
    
    i2 {
        background-color: #fae2d9;
        border-radius: 50%;
        padding: 1px 2px;
        color: #bca996;
        z-index: -1;
        border: 2px solid #fed;
        width: 50%;
        min-height: 120px;
        max-height: 180px;
        display: block;
        margin: 28px 4px;
        height: 420px;
        transition: all .5s ease-in-out;
        font-size: 220%;
    }
    
    i2::before {
        content: '';
    }
    
    gr {
        color: #dfc7b6;
        font-size: 50%;
    }
    
    .fox {
        width: 100%;
        position: relative;
        display: inner-block;
        margin: 2px auto;
        left: 0;
        right: 0;
        font-weight: 800;
        letter-spacing: 2px;
        text-shadow: 0 0 10px #decc10, 0 0 20px #ffffff, 0 0 30px #ffd2a2, 0 0 40px #ff9900, 0 0 50px #e66b00, 0 0 60px #f4a600, 0 0 70px #ffeec8;
    }
    
    .fo {}
    
    .fi {
        opacity: 1;
        animation-duration: 1gs;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        animation-name: slidein;
    }
    
    @keyframes slidein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    .fa {
        opacity: 1;
        animation-duration: .8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        animation-name: slideout;
    }
    
    @keyframes slideout {
        0% {
            opacity: .6;
        }
        100% {
            opacity: 0;
        }
    }
    
    .redpow {
        animation-duration: 0.8s;
        animation-name: redpowani;
    }
    
    @keyframes redpowani {
        0% {
            color: #ce7a31;
            /* filter: hue-rotate(-2deg);  */
            /* opacity: 0.6; */
            /* background: radial-gradient(circle at 60% 30%, #292929, #707070 90%); */
            background-color: #e8e7e6;
        }
        100% {
            /* filter: hue-rotate(0deg);
opacity: 1; */
            background-color: #ff9911;
        }
    }
    
    .greenpow {
        animation-duration: .8s;
        animation-name: greenpowani;
    }
    
    @keyframes greenpowani {
        0% {
            /* background-color: #77667744; */
            /* background-color: #77667744; */
            /* filter: hue-rotate(-62deg); 
opacity: 0.5; */
            /* background: radial-gradient(circle at 60% 30%, #c5ffac, #707070 90%); */
        }
        100% {
            /* filter: hue-rotate(0deg);
opacity: 1; */
            /* background-color: #ccffcc00; */
        }
    }
    
    body::before {
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: radial-gradient(circle at 40% 30%, transparent, #dddedd55 50%);
    }
    
    .scorebar {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 4px;
        font-weight: 400;
        font-size: 80%;
        letter-spacing: 2px;
        max-width: 520px;
        text-align: center;
        position: relative;
        color: #fff;
        padding: 16px;
        /* margin-right:12px; */
    }
    
    .b {
        letter-spacing: 0;
        padding: 2px;
        /* margin-left: 12px; */
    }
    
    .tilt {
        /* transform: rotateZ(-10deg);
    transform: rotate(-10deg); */
        /* width: 200%; */
        /* left: -50%; */
        /* right: 0; */
        /* margin: -17px auto -14px auto; */
        /* position: fixed; */
        width: 100%;
        /* max-width: 840px; */
        /* font-size: 2vw; */
        /* font-size: 0.9rem; */
        font-size: 2.5vh;
        /* max-inline-size: 22rem; */
        line-height: 3.5vh;
        /* line-height: 1.5vw; */
        opacity: 0.7;
        letter-spacing: 1vw;
        /* margin-top: -4%;
    margin-bottom: -4%; */
    }
    
    #scoring {
        border-radius: 0;
        display: block;
        background-color: #fafafa43;
        transition: all .9s ease-in-out;
        padding: 6px;
        animation-duration: 1.5s;
        animation-name: slideinfromright;
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 1.0955);
    }
    
    #leveling {
        background-color: #91228087;
        padding: 6px;
        margin: 4px auto 4px auto;
        display: block;
        animation-duration: 1.7s;
        animation-name: fadein;
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 1.0955);
    }
    
    #hiscoring {
        background-color: #fafafa44;
        padding: 6px;
        animation-duration: 2s;
        animation-name: slideinfromleft;
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 1.0955);
    }
    
    .slideinfromleft {
        animation-duration: 1.5s;
        animation-name: slideinfromleft;
    }
    
    @keyframes slideinfromleft {
        0% {
            border-radius: 0;
            opacity: 0;
            transform: translateX(-100%);
        }
        50% {
            background-color: #fafafa00;
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    .slideinfromright {
        animation-duration: .5s;
        animation-name: slideinfromright;
    }
    
    @keyframes slideinfromright {
        0% {
            border-radius: 100%;
            opacity: 0;
            transform: translateX(100%);
        }
        50% {
            background-color: #fafafa00;
        }
        100% {
            opacity: 1;
            transform: translateX(0);
            background-color: #fafafa43;
        }
    }
    
    .superbounce {
        margin-bottom: 10%;
        animation: bounce-top 1.9s cubic-bezier(0.190, 1.000, 0.220, 1.000) both;
    }
    
    @keyframes bounce-top {
        0% {
            transform: translateY(-95px);
            animation-timing-function: ease-in;
            opacity: 1;
        }
        24% {
            opacity: 1;
        }
        40% {
            transform: translateY(-44px);
            animation-timing-function: ease-in;
        }
        65% {
            transform: translateY(-18px);
            animation-timing-function: ease-in;
        }
        82% {
            transform: translateY(-7px);
            animation-timing-function: ease-in;
        }
        91% {
            transform: translateY(-4px);
            animation-timing-function: ease-in;
        }
        25%,
        55%,
        75%,
        87% {
            transform: translateY(2px);
            animation-timing-function: ease-out;
        }
        100% {
            transform: translateY(1px);
            animation-timing-function: ease-out;
            opacity: 1;
        }
    }
    
    .superbounce {
        position: relative;
        overflow: hidden;
        /* width: 50px;
height: 50px; */
        display: inline-block;
        /* margin: 25px 0 25px 25px; */
        /* border-radius: 5px; */
        color: #fff;
        text-decoration: none;
        text-align: center;
        /* line-height: 50px; */
        /* font-size: 12px; */
        /* font-family: sans-serif; */
        /* border: 2px solid #ffffff33; */
    }
    
    .superbounce:after {
        content: "";
        position: absolute;
        top: -10%;
        left: -410%;
        width: 200%;
        height: 40%;
        opacity: 0;
        transform: rotate(30deg);
        background: rgba(255, 255, 255, 0.3);
        background: linear-gradient( to right, rgba(255, 255, 255, 0.13) 90%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
        /* animation-property: left, top, opacity; */
        animation-duration: 0.7s, 0.7s, 0.15s;
        animation-timing-function: ease-in-out;
        animation: superbounce2 4s normal infinite;
        /* Hover state - trigger effect */
    }
    
    @keyframes superbounce2 {
        0% {}
        100% {
            opacity: 1;
            top: -100%;
            left: 90%;
            /* transition-property: left, top, opacity;
transition-duration: 0.7s, 0.7s, 0.15s;
transition-timing-function: ease-in-out; */
        }
    }
    /* Active state */
    /* .superbounce:active:after {
opacity: 0;
} */
    
    .superbounce {
        /* overflow: visible; */
        z-index: 2;
        /* display: block;
position: fi; */
    }
    
    .gradient-border {
        --border-width: 3px;
        position: fixed;
        display: block;
        justify-content: center;
        align-items: center;
        top: -10px;
        width: 300px;
        height: 200px;
        /* font-family: Lato, sans-serif; */
        font-size: 2.5rem;
        text-transform: uppercase;
        color: white;
        background: #222;
        border-radius: 32px;
        z-index: -4;
        /* margin: -1px; */
    }
    
    .gradient::before {
        /* border-radius: 14px;
    position: absolute;
    display: flex;
    content: "";
    top: -0px;
    left: 0px;
    right: 0px;
    bottom: 0;
    z-index: -3;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
    background-size: 300% 300%;
    background-position: 0 50%;
    animation: moveGradient 4s alternate infinite; */
    }
    
    @keyframes moveGradient {
        50% {
            background-position: 100% 50%;
        }
    }
    
    .megadiv {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    /* Landscape */
    
    @media only screen and (min-width: 521px)
    /*and (-webkit-min-device-pixel-ratio: 2)*/
    /*and (orientation: landscape) */
    
    {
        .gamediv {
            float: left;
            height: 100%;
            width: 50%;
        }
        .gamediv2 {
            float: right;
            height: 100%;
            width: 50%;
        }
        .buttonswrapper {
            /* width: 50%;*/
            height: 100%;
        }
    }
    /* Portrait */
    
    @media only screen and (max-width: 520px) {
        /* and (-webkit-min-device-pixel-ratio: 2) */
        /*and (orientation: portrait) */
        .buttonswrapper {
            /* width: 100%;
height: 100%; */
        }
        .buttonswrapper {
            /* width: 50%;*/
            height: 100%;
        }
        .gamediv {
            float: left;
            height: 50%;
            width: 100%;
        }
        .gamediv2 {
            float: right;
            height: 50%;
            width: 100%;
            min-height: 200px;
            /* max-width: 720px; */
        }
    }
    
    .fox {
        height: 100%;
    }
    
    .fox
    /* ,
.fi,
.fo  */
    
    {
        margin: 0;
        /* display: flex; */
        flex-direction: column;
        /* justify-content: space-evenly; */
        /* justify-content: space-around; */
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        /* display: block; */
        /* line-height: 1em; */
        /* a */
        /* max-height: 2em; */
        /* a x number of line to show (ex : 2 line)  */
        display: inline-flex;
        /* display: flex; */
        /* font-size: 7.2vw; */
        font-size: 2.5rem;
        justify-content: center;
        /* line-height: 9vw; */
        /* text-size-adjust: auto; */
        /* <percentage> value */
        /* font-size: 200%; */
        /* text-size-adjust: 80%; */
    }
    
    .scoreoverlaywrapper {
        width: 100%;
        height: 100%;
        margin: 0;
        /* display: flex; */
        flex-direction: column;
        justify-content: space-evenly;
        /* justify-content: space-around; */
        /* justify-content: stretch; */
        /* justify-content: center; */
        /* justify-content: safe center; */
        align-items: center;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        /* display: block; */
        /* line-height: 1em; */
        /* a */
        /* max-height: 2em; */
        /* a x number of line to show (ex : 2 line)  */
        /* makes it though ... */
        display: flex;
        font-size: 4vw;
        line-height: 4vw;
        /* text-size-adjust: auto; */
        /* <percentage> value */
        /* font-size: 200%; */
        /* text-size-adjust: 80%; */
    }
    
    .timechart {
        pointer-events: none;
        /*interaction prev*/
        z-index: 2000;
        margin: 0 auto;
        /* margin-top: -90px; */
        backdrop-filter: blur(18px);
        opacity: 0.7;
        /* background-color: #eee; */
        /* height: 244px; */
        /* width: 244px; */
        height: 44px;
        width: 70%;
        padding: 8px;
        /* border-radius: 8px; */
        /* border-radius: 50%; */
        border-radius: 8px;
        /* display: inner-block; */
        position: relative;
        /* width: 80%; */
        overflow: visible;
        /* text-align: left; */
        /* background-color: rgba(255, 255, 255, .5); */
        background: rgba( 255, 255, 255, 0.5);
        /* position: absolute; */
        /* display: block; */
        box-shadow: 0 8px 32px 0 rgba( 70, 38, 31, 0.37);
    }
    /* if backdrop support: very transparent and blurred */
    
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        .timechart {
            /* background-color: rgba(255, 255, 255, .5); */
            background: rgba( 255, 255, 255, 0.5);
            -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
            /* position: absolute;
            display: block; */
            /* box-shadow: 0 8px 32px 0 rgba( 70, 38, 31, 0.37); */
        }
    }
    
    .logo {
        pointer-events: none;
        /*interaction prev*/
        z-index: 2000;
        margin: 0 auto;
        /* margin-top: -90px; */
        backdrop-filter: blur(18px);
        opacity: 0.9;
        /* background-color: #eee; */
        /* height: 244px; */
        /* width: 244px; */
        /* height: 120px; */
        /* width: 120px; */
        /* padding: 8px; */
        /* border-radius: 8px; */
        /* border-radius: 50%; */
        border-radius: 50%;
        padding: 5px;
        /* display: inner-block; */
        /* position: relative; */
        /* width: 80%; */
        overflow: visible;
        /* text-align: left; */
        /* background-color: rgba(255, 255, 255, .5); */
        /* background: rgba( 255, 255, 255, 0.5); */
        /* position: absolute; */
        /* display: block; */
        /* box-shadow: 0 8px 32px 0 rgba( 70, 38, 31, 0.37); */
    }
    /* if backdrop support: very transparent and blurred */
    
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        .logo {
            /* background-color: rgba(255, 255, 255, .5); */
            /* background: rgba( 255, 255, 255, 0.1); */
            -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
            /* position: absolute;
            display: block; */
            /* box-shadow: 0 8px 32px 0 rgba( 70, 38, 31, 0.37); */
        }
    }